html, body {
    height: 100%;
}

.container {
    min-height: 100vh;
}

body {
    background-color: rgb(214, 214, 214);
    color: rgb(0, 0, 0);
    font-family: "Poppins", sans-serif;
}

nav {
    background-color: gray;
    color: #000;
}

.card {
    background-color: #ffffff;
    color: #000000;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
    padding: 5px;
    position: relative;
}

.product-list-card {
    height: 300px;
}

.product-detail-card {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.product-detail-card img {
    width: 80%;
    height: auto;
    max-height: calc(80vh - 200px);
    object-fit: contain;
}

.card h5, .card p {
    margin: 0;
    padding: 10px;
}

/* New Badge */
.new-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff0000;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: bold;
}

/* Grid Layout */
.section-products {
    padding: 20px 0 54px;
}

.section-products .header h3 {
    font-size: 1rem;
    color: #fe302f;
    font-weight: 500;
}

.section-products .header h2 {
    font-size: 2.2rem;
    font-weight: 400;
    color: #444444; 
}

.section-products .product-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 20px;
}

/* Responsive Adjustments */
@media (min-width: 576px) {
    .section-products .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) { /* md screens */
    .section-products .product-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 992px) { /* lg screens */
    .section-products .product-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 1200px) { /* xl screens */
    .section-products .product-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}

.thumbnails img {
    cursor: pointer;
    transition: border 0.2s;
    height: 100px;
    width: 100px;
}

.thumbnail-image:hover {
    border: 2px solid #007bff;
}

label {
    font-weight: bold;
}

.label-text {
    font-weight: normal;
    font-style: italic; 
}

.nav-link .fas.fa-shopping-cart {
    font-size: 1.5rem;
    position: relative;
}

.nav-link .cart-badge {
    position: absolute;
    top: 5px;  
    left: 25px;  
    font-size: 0.75rem;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .d-flex {
    flex-grow: 1;
    justify-content: flex-end;
}

.carousel-item {
    text-align: center;
  }
  
  .carousel-item img {
    width: 100%;
    height: auto;
  }
