{% extends "base.html" %}
{% block title %}Free Market View Cart{% endblock title %}
{% block content %}
<h1>Shopping Cart</h1>
<table style='border-width=1px; border-style: solid; border-color: #000000;'>
    <thead>
        <tr>
            <th width='70%'>Product</th>
            <th width='10%'>Price</th>
            <th width='10%'>Quantity</th>
            <th width='10%'>Total</th>
            <th width='10%'>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart %}
        <tr style='border-width=1px; border-style: solid; border-color: #000000;'>
            <td>{{ item.product.name }}</td>
            <td>${{ item.price }}</td>
            <td>{{ item.quantity }}</td>
            <td>${{ item.total_price }}</td>
            <td>
                <form action="{% url 'cart_remove' item.product.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Remove">
                </form>
            </td>
        </tr>
        {% empty %}
        <tr style='border-width=1px; border-style: solid; border-color: #000000;'>
            <td colspan="5" style="text-align:center;">There are no items in the cart</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p style='text-align:right'><b>Total: ${{ cart.get_total_price }}</b></p>
<a class="btn btn-primary" href="{% url 'checkout' %}">Proceed to Checkout</a>
{% endblock %}
