{% extends "base.html" %}
{% load static %}
{% block title %}Free Market View Cart{% endblock title %}
{% block content %}
<center>
<img src="{% static 'freemarket.png' %}" style="width:60%; height:auto; margin-right:auto; margin-left:auto;" />
</center>
<hr />
<h1>Shopping Cart</h1>
<table style='border-width:1px; border-style: solid; border-color: #000000;'>
    <thead class="table-header-md">
        <tr>
            <th width='30%'>Product</th>
            <th width='10%'>Price</th>
            <th width='10%'>Qty.</th>
            <th width='10%'>Total</th>
            <th width='10%'>Actions</th>
        </tr>
    </thead>
    <thead class="table-header-lg">
        <tr>
            <th width='70%'>Product</th>
            <th width='10%'>Price</th>
            <th width='10%'>Qty.</th>
            <th width='10%'>Total</th>
            <th width='10%'>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart %}
        <tr style='border-width:1px; border-style: solid; border-color: #000000;'>
            <td>{{ item.product.name }}</td>
            <td>${{ item.price }}</td>
            <td>
                <form action="{% url 'decrease_quantity' item.product.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="quantity" value="1">
                    <button type="submit" class="btn btn-link p-0 m-0 align-baseline">
                        <i style='color:#C00000' class="fas fa-minus"></i>
                    </button>
                </form>
                {{ item.quantity }}
                <form action="{% url 'increase_quantity' item.product.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="quantity" value="1">
                    <button type="submit" class="btn btn-link p-0 m-0 align-baseline">
                        <i style='color:#00C000' class="fas fa-plus"></i>
                    </button>
                </form>
            </td>
            <td>${{ item.total_price }}</td>
            <td style='text-align:center' >
                <form action="{% url 'cart_remove' item.product.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link p-0 m-0 align-baseline">
                        <i style='color:#C00000' class="fas fa-trash"></i>
                    </button>
                </form>                
            </td>
        </tr>
        {% empty %}
        <tr style='border-width:1px; border-style: solid; border-color: #000000;'>
            <td colspan="5" style="text-align:center;">There are no items in the cart</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p style='text-align:right'>Sub-Total: ${{ cart.get_subtotal_price }}<br />
Tax: ${{ cart.get_tax_price }}<br />
<b>Total: ${{ cart.get_total_price }}</b></p>
<a class="btn btn-primary" href="{% url 'select-payment' %}">Select Payment</a>
{% endblock %}
