{% extends "base.html" %}
{% block title %}Free Market Home{% endblock title %}
{% block content %}

<!-- NEW Section -->
<div class="container">
    <div class="row" id="slider-text">
        <div class="col-md-6">
            <h2>NEW</h2>
        </div>
    </div>
    <div class="section-products horizontal-scroll">
        <div class="product-grid">
            {% for product in new_products %}
                <a href="{% url 'product-detail' %}?product_id={{ product.id }}">
                    <div class="card product-list-card">
                        {% if product.created_at >= new_threshold %}
                            <span class="badge new-badge">New</span>
                        {% endif %}
                        <img src="{{ product.main_image }}" alt="Product Image">
                        <h5>{{ product.name }}</h5>
                        {% if product.sale_price and product.sale_price > 0 %}
                            <div class="d-flex justify-content-between total">
                                <span>Price: </span>
                                <span><s>${{ product.price }}</s></span>
                            </div>
                            <div class="d-flex justify-content-between total">
                                <span>Sale Price: </span>
                                <span style='color: #006000;'><b>${{ product.sale_price }}</b></span>
                            </div>
                        {% else %}
                            <div class="d-flex justify-content-between total">
                                <span>Price: </span>
                                <span><b>${{ product.price }}</b></span>
                            </div>
                        {% endif %}
                        {% if product.discount %}
                            <div class="d-flex justify-content-between total">
                                <span>Price: </span>
                                <span><s>${{ product.price }}</s></span>
                            </div>
                            <div class="d-flex justify-content-between total">
                                <span>Discounted Price: </span>
                                <span style='color: #006000;'><b>${{ product.price|floatformat:2|add:"-product.discount"|floatformat:2 }}</b></span>
                            </div>
                        {% endif %}
                    </div>
                </a>
            {% empty %}
                <p>No new products found.</p>
            {% endfor %}
        </div>
    </div>
</div>

<!-- FOR YOU Section -->
<div class="container">
    <div class="row" id="slider-text">
        <div class="col-md-6">
            <h2>FOR YOU</h2>
        </div>
    </div>
    {% if foryou_products %}
        <div class="section-products horizontal-scroll">
            <div class="product-grid">
                {% for product in foryou_products %}
                    <a href="{% url 'product-detail' %}?product_id={{ product.id }}">
                        <div class="card product-list-card">
                            {% if product.created_at >= new_threshold %}
                                <span class="badge new-badge">New</span>
                            {% endif %}
                            <img src="{{ product.main_image }}" alt="Product Image">
                            <h5>{{ product.name }}</h5>
                            {% if product.sale_price and product.sale_price > 0 %}
                                <div class="d-flex justify-content-between total">
                                    <span>Price: </span>
                                    <span><s>${{ product.price }}</s></span>
                                </div>
                                <div class="d-flex justify-content-between total">
                                    <span>Sale Price: </span>
                                    <span style='color: #006000;'><b>${{ product.sale_price }}</b></span>
                                </div>
                            {% else %}
                                <div class="d-flex justify-content-between total">
                                    <span>Price: </span>
                                    <span><b>${{ product.price }}</b></span>
                                </div>
                            {% endif %}
                            {% if product.discount %}
                                <div class="d-flex justify-content-between total">
                                    <span>Price: </span>
                                    <span><s>${{ product.price }}</s></span>
                                </div>
                                <div class="d-flex justify-content-between total">
                                    <span>Discounted Price: </span>
                                    <span style='color: #006000;'><b>${{ product.price|floatformat:2|add:"-product.discount"|floatformat:2 }}</b></span>
                                </div>
                            {% endif %}
                        </div>
                    </a>
                {% empty %}
                    <p>No products found for you.</p>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}
