{% extends "base.html" %}
{% block title %}Free Market - {{ store.name }}{% endblock title %}
{% block content %}
<div class="container">
    {% if not store.banner %}
        <h1 style='text-align:center;'>{{ store.name }}</h1>
    {% else %}
        <img src="{{ store.banner.url }}" alt="{{ store.name }}" style="display: block; height:300px; width: auto; margin-right:auto; margin-left:auto;">
    {% endif %}
    <p style='text-align:center;'>{{ store.description }}<br />
    <small><b>Phone: {{ store.phone }}</b></small></p>

    {% if products %}
        <div class="d-flex row justify-content-between">
        <h2>Products</h2>
        <a href="{% url 'create-product' store.name %}" class="btn btn-primary">Add Product</a>
        </div>
        <hr color='white' />
        <div class="section-products">
            <div class="product-grid">
                {% for product in products %}
                    <a href="{% url 'product-detail' %}?product_id={{ product.id }}">
                        <div class="card product-list-card">
                            {% if product.created_at > new_threshold %}
                                <span class="badge new-badge">New</span>
                            {% endif %}
                            <img src="{{ product.main_image }}" alt="Product Image">
                            <h5>{{ product.name }}</h5>
                            {% if product.sale_price and product.sale_price > 0 %}
                            <div class="d-flex justify-content-between total">
                                <span>Price: </span>
                                <span><s>${{ product.price }}</s></span>
                            </div>
                            <div class="d-flex justify-content-between total">
                                <span>Sale Price: </span>
                                <span style='color: #006000;'><b>${{ product.sale_price }}</b></span>
                            </div>
                        {% else %}
                            <div class="d-flex justify-content-between total">
                                <span>Price: </span>
                                <span><b>${{ product.price }}</b></span>
                            </div>
                        {% endif %}
                        {% if product.discount %}
                            <div class="d-flex justify-content-between total">
                                <span>Price: </span>
                                <span><s>${{ product.price }}</s></span>
                            </div>
                            <div class="d-flex justify-content-between total">
                                <span>Discounted Price: </span>
                                <span style='color: #006000;'><b>${{ product.price|floatformat:2|add:"-product.discount"|floatformat:2 }}</b></span>
                            </div>
                        {% endif %}
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    {% else %}
    <p>No products available for this store.</p>
    {% endif %}
    
    <div class="text-right mt-3">
        
    </div>
</div>
{% endblock content %}
